[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yappi = "*"

[packages]
pathlib = "*"
sqlalchemy = "*"
psycopg2 = "*"
geoalchemy2 = "*"
shapely = "*"
sklearn = "*"

[requires]
python_version = "3.7"
