[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pathlib = "*"
sqlalchemy = "*"
geoalchemy2 = "*"
shapely = "*"
sklearn = "*"
psycopg2-binary = "*"
google-cloud-storage = "*"
pandas = "*"
geopandas = "*"

[requires]
python_version = "3.7"
